*{
   box-sizing: border-box;
}
body{
	
    background-color: black;
}
#super{
	margin-top: 50px;
	background-color: white;
	position: relative;
}
#header{
	height: 40px;
	background-color: red;
	border-radius: 2px;
	width: 98.25%%;
	margin-bottom: 10px;

}
#second{
	height:200px;
	background-color: blue;
	width: 50%;
	margin-bottom: 20px;
	float:left;
}
.third{
	height:90px;
	background-color: green;
	width: 50%;
	float:right;
	padding: 10px;
	margin-bottom: 20px;
}
#footer{
	height: 40px;
	background-color: yellow;
	width: 100%;
    clear: both;
}